body {
  background-color: var(--primary-light);

  --primary-darker: #030303;
  --primary-dark: #111111;
  --primary-gray: #a0a0a0;
  --primary-light-gray: #E7E7E7;
  --primary-light: #F0F0F0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.checkout-button {
  width: 90px;
  padding: 8px 16px;
  text-align: center;
  background-color: var(--primary-darker);
  color: var(--primary-light);
  border-radius: 8px;
  border: 1px solid var(--primary-darker);
  cursor: pointer;

  transition: all 250ms;
}

.checkout-button:hover {
  background-color: var(--primary-light);
  color: var(--primary-darker);
}

#banner{
    display: flex;
    width: 50%;
    height: fit-content;
    border-radius: 16px;
}

#firstPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 100%;
}