@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 16px;

}
nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

button {
  width: 90px;
  padding: 8px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
  transform: scale(1.1);
}

button:active {
  color: black;
  background-color: gray;
  transform: scale(0.9);
}
#banner{
    display: flex;
    width: 50%;
    height: fit-content;
    border-radius: 16px;

}

#firstPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 100%;
}